@import url('https://fonts.cdnfonts.com/css/minecraft-4');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Minecraft', sans-serif;
}
body{
    width: 100%;
    overflow: hidden;

}
main{
    width: 100%;
    height: 100vh;
    background: rgb(64, 64, 64);
    background-size: cover;
}
.character, img{ 
    height: 320px;
    position: absolute;
    bottom: 10%;
    left: 7%;
    filter: drop-shadow(2px 4px 2px #000);
    filter: brightness(1.05);
}
.title> h1{
    font-size: 5.5rem;
    text-shadow: -2px 0 #000000, 0 2px #000000, 2px 0 #000000, 0 -2px #000000;
}
.title{
    position: absolute;
    right: 35%;
    top: 5%;
}
.form{
    width: 205px;
    height: 150px;
    background: #cbcbcb;
    border-radius: 10%;
    position: absolute;
    bottom: 40%;
    left: 25%;
}
.form>p{
    padding: 5px;
    color: #000;
    overflow: hidden; 
}
.house{
    position: absolute;
    bottom: 10%;
    right: 10%;
    box-shadow: inset 0px 0px 5px 5px #343434;
    background: rgb(32, 32, 32);
    width: 630px;
    height: 430px;
    background-image: url(../img/image0.jpeg);
    background-size:600px 397px;
    background-position: center;
    background-repeat: no-repeat;
}
#op1{
    width: 170px;
    height: 160px;
    background: #000;
    box-shadow: inset 0px 0px 15px 15px transparent;
    position: relative;
    top: 9.7%;
    left:7.2%;
    opacity: .5;
}
#op2{
    width: 135px;
    height: 158px;
    background: #000;
    box-shadow: inset 0px 0px 15px 15px transparent;
    position: relative;
    top: -26.7%;
    left:39.2%;
    opacity: .5;
}
#op3{
    width: 135px;
    height: 158px;
    background: #000;
    box-shadow: inset 0px 0px 15px 15px transparent;
    position: relative;
    top: -62.7%;
    left:66.2%;
    opacity: .5;
}
#op4{
    width: 180px;
    height: 128px;
    background: #000;
    box-shadow: inset 0px 0px 15px 15px transparent;
    position: relative;
    top: -56.7%;
    left:60.2%;
    opacity: .5;
}
#op5{
    width: 201px;
    height: 153px;
    background: #000;
    box-shadow: inset 0px 0px 15px 15px transparent;
    position: relative;
    top: -86.7%;
    left:7.2%;
    opacity: .5;
}
#bt1{
    top: 2%;
    left: -35%;
    scale: .5;
    filter: brightness(1);
    cursor: pointer;
}
#bt2{
    top: -42%;
    left: 20%;
    scale: .5;
    filter: brightness(1);
    cursor: pointer;
}
#bt3{
    top: 2%;
    left: 80%;
    scale: .5;
    filter: brightness(1);
    cursor: pointer;
}
#bt4{
    top: 74%;
    left: 48%;
    scale: .5;
    filter: brightness(1);
    cursor: pointer;
}
#bt5{
    top: 74%;
    left: -10%;
    scale: .5;
    filter: brightness(1);
    cursor: pointer;
}

#boh{
    color: rgb(170, 170, 170);
    transition: all .5s;
    font-size: 1.9rem;
    text-decoration: none;
    position: absolute;
    bottom: 30%;
    left: 25%;
}
#boh:hover{
    font-size: 2rem;
}
#gr{
    position: absolute;
    top: 22%;
    right: 5%;
}
